body{
    background-color: rgb(68, 68, 238);
    font: normal 15pt Arial;
}
header{
    text-align: center;
    color: white;

}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.332);
}

footer{
        text-align: center;
        color: white;
        font-style: italic;

}
#listanumero {
    margin: 10px;
    width: 150px;
    height: auto;

   
    
}
option{
    margin: 2px;
    padding: auto;
    width: auto;

    
}